@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #1F2937;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1F2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6B7280;
}
